.wrapper{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.gameView{
    width: fit-content;

}

.gameView > p{
    text-align: center;
    margin-top: 1rem;
}

.canvasContainer{
    height: calc(21 * 30px);
    overflow: hidden;
}

canvas{
    transform: translateY(-30px)
}