:root{
    position: absolute;
    top: 50%; 
    right: 50%;
    transform: translate(50%,-50%);
    text-align: center;
}

.square {
    display: block;
    width: 3rem;
    height: 3rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: fit-content;
}